<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">Home page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
		<li class="nav-item">
        <a class="nav-link" href="about.html">About me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="help.html">Help</a>
      </li>
    </ul>
  </div>
</nav>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas sagittis lorem et pharetra. Ut vel velit ante. Nullam eget varius nisi. Sed auctor metus sit amet tortor commodo viverra. Vivamus tincidunt ex vitae egestas ullamcorper. Nam malesuada ultrices nibh, eu malesuada eros semper sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
  </p>
  
  <p>
    Praesent at dapibus metus, vel feugiat mi. Pellentesque sit amet fringilla dolor. Suspendisse sit amet erat non mi fringilla congue. Donec quis porttitor nunc, vitae eleifend justo. Sed sagittis ultrices sem, a rhoncus orci luctus quis. Suspendisse in fermentum ex. Donec bibendum volutpat justo, nec fermentum purus bibendum eget. Ut non blandit lacus, at pharetra ante. Suspendisse potenti. Donec eleifend, neque vel elementum mollis, est libero mattis augue, non aliquam enim risus nec augue.
  </p>

  <p>
    Morbi a ligula viverra, rhoncus libero condimentum, efficitur libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ut justo vel libero tincidunt consectetur. Morbi a diam non lectus pretium pharetra a in dui. Sed pretium id dolor vel pulvinar. In at massa quis risus fermentum elementum ac at purus. Proin ut egestas metus. Integer neque tellus, laoreet at tristique feugiat, commodo id lorem. Suspendisse ornare, ex vel molestie convallis, urna quam gravida erat, sit amet fermentum neque ex in quam. Cras ipsum ligula, ultricies et purus et, eleifend tristique dui. Aenean facilisis mattis dolor, vel vestibulum justo vulputate viverra. Fusce venenatis consectetur fringilla. Donec sodales scelerisque dapibus. Donec fringilla elit lorem, non tempus justo aliquet in. Nam a finibus elit.
  </p>

</body>
</html>