<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Galerry</title>
</head>

<body>

  <a href="https://sadurskifilip.azurewebsites.net/">Home page</a>
  <a href="https://sadurskifilip.azurewebsites.net/contact">Contact</a>
  <a href="https://sadurskifilip.azurewebsites.net/about">About</a>
  <a href="https://sadurskifilip.azurewebsites.net/login">Login</a>
  <a href="https://sadurskifilip.azurewebsites.net/help">Help</a>

  <img src="{{ url_for('static',filename='giraffe.jpg')}}" alt="Giraffe"><br>
  <img src="{{ url_for('static',filename='obraz.jpg')}}" alt="Picture"><br>
  <img src="{{ url_for('static',filename='time.jpg')}}" alt="Time"><br>
  <img src="{{ url_for('static',filename='cat.jpg')}}" alt="Cat"><br>


</body>
</html>