<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>

<h1 style="font-size: 20px;">Curriculum vitae - Filip Sadurski</h1>
<h2> Witaj {{ user }} na mojej stronie! </h2>
<p> Twoj adres e-mail to {{ email }}  </p>

<a href="https://sadurskifilip.azurewebsites.net/about">About me</a>
<a href="https://sadurskifilip.azurewebsites.net/contact">Contact</a>
<a href="https://sadurskifilip.azurewebsites.net/gallery">Gallery</a>
<a href="https://sadurskifilip.azurewebsites.net/login">Login</a>
<a href="https://sadurskifilip.azurewebsites.net/help">Help</a>

<img src="{{ url_for('static',filename='cat.jpg')}}" alt="Cat"><br>

</body>
</html>