<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>

<h1>Curriculum vitae - Filip Sadurski</h1>
<!--<p style="font-size:20px;">Zobacz co tutaj mamy</p>-->

<a href="https://sadurskifilip.azurewebsites.net/contact">Contact with me</a>
<a href="https://sadurskifilip.azurewebsites.net/help">Help</a>
<a href="https://sadurskifilip.azurewebsites.net/login">Login</a>

<img src="{{ url_for('static',filename='cat.jpg')}}" alt="Cat"><br>

</body>
</html>